/* =============
   hero2
============= */

#hero2 {

    display: grid;

    margin-bottom: 50px;



    @include md {
        grid-template-areas: ". hero2 .";
        grid-template-columns: 0px auto 0px;
        margin-bottom: 75px;
    }

    @include md {

        grid-template-columns: 15px auto 15px;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
        margin-bottom: 110px;
    }

    @include lg{
        margin-bottom: 100px;
    }

    >div {
     

        @include md {
            grid-area: hero2;
        }


        #hImages {


            @include lg {
                display: grid;
                grid-template-columns: 50% auto;

            }

            @include xl {
                grid-template-areas: "salamander toad"
                    "salamander pond";
                    grid-template-rows: 415px 415px;
            }

            // article {
            //     img {
            //         width: 100%;
            //     }
            // }

            #salamander {
        background-image: url("../img/hero2/hero2.jpg");
        height: 360px;
        // background-position: center left;
        // background-size: cover;
        // background-repeat: no-repeat;

                @include md{
                    background-position: top center;
                    height: 595px;
                }
                
                @include xl {
                    grid-area: salamander;
                    height: 830px;
                }
            }

            #toad {
                background-image: url("../img/hero2/hero3.jpg");
                height: 360px;
                // background-position: center;
                // background-size: cover;
                // background-repeat: no-repeat;

                @include md{
                    height: 595px;
                
                }

                @include xl {
                    grid-area: toad;
                    height: 415px;
    
                }
            }



            #pond {
                display: none;

                background-image: url("../img/hero2/hero4.jpg");
                // background-position: center;
                // background-size: contain;
                // background-repeat: no-repeat;

                @include xl {
                    grid-area: pond;
                    display: block;
                    height: 415px;
                }
            }

        }

    }


}

article{
    background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
}