/* =============
   hero2
============= */

#hero2 {

    display: grid;


    @include md {
        grid-template-areas: ". hero2 .";
        grid-template-columns: 16px auto 16px;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div {

        @include md {
            grid-area: hero2;
        }


        #hImages {

            @include lg {
                display: grid;
                grid-template-columns: 50% auto;

            }

            @include xl {

                grid-template-areas: "salamander toad"
                    "salamander pond";
            }

            article {
                img {
                    width: 100%;
                }
            }

            #salamander {
                @include xl {
                    grid-area: salamander;
    
                }
            }

            #toad {
                @include xl {
                    grid-area: toad;
    
                }
            }



            #pond {
                display: none;

                @include xl {
                    grid-area: pond;
                    display: block;
                }
            }

        }

    }
}

//     @include md {
//         #Himages {
//             display: grid;
//             grid-template-columns: 50% 50%;
//             grid-template-areas: "salamander toad";

//             >div {
//                 grid-area: himages;
//             }
//         }

//     }

//     #pond {
//         display: none;
//     }
// }

// >div {
//     @include lg {
//         #Himages {
//             display: grid;
//             grid-template-columns: 10% 40% 40% 10%;
//             grid-template-areas: "salamander toad";

//             >div {
//                 grid-area: himages;

//             }
//         }

//     }

// }

// >div {
// @include xl {
//     #Himages {
//         display: grid;
//         grid-template-columns: auto 40%;
//         grid-template-areas:
//             "salamander toad"
//             "salamander pond";

//         >div {
//             grid-area: himages;

//         }

//         #salamander{

//         }

//         #pond {
//             display: unset;
//         }
//     }

// }

//     }
// }