/* =============
   hero2
============= */

#hero2{
    display: grid;
        grid-template-areas: "hero2";
        grid-template-columns: 0px auto 0px;

    >div{
        grid-area: Hero2;
        
        @include md{
        #Himages{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "salamander toad";

            >div{
                grid-area: himages;
            }
        }
       
        }
        #pond{
            display: none;
        }
    }

    >div{
        @include lg{
            #Himages{
                display: grid;
                grid-template-columns: 10% 40% 40% 10%;
                grid-template-areas: "salamander toad";
    
                >div{
                    grid-area: himages;
                
        }
    }

            }

        }  
    }