/* =============
   hero
============= */
#hero {
	// background-repeat: no-repeat;
	background-image: url("../img/hero/hero.jpg");
	background-position: center;
	background-size: cover;
	height: 500px;

	@include md {
		height: 775px;
	}

	@include lg {
		height: 1030px;
	}

	@include xl {
		height: 1450px;
	}
}