/* =============
    ImportantInfo
============= */

#Info{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". ImportantInfo .";

    >div{
       grid-area: ImportantInfo;

      @include md{
        #Headlines{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas: "Questions Events";
 
        }
      }
    }

}