/* =============
    ImportantInfo
============= */

#Info{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". Info .";

    >div{
        grid-area: Info;

      @include md{
        #Headlines{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas: "Questions Events";
 
        }
            #Money{
            display: grid;
            grid-template-columns: auto 30% auto;
            grid-template-areas: "Donate . Shop ";
                 }
    
        }
        
    }
   
}
