/* =============
    Main
============= */

#main{


        display: grid;
       // grid-template-columns: 16px auto 16px;
        grid-template-areas: ". main .";

        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". main .";
    
        }

     >div{
        grid-area: main;
     }
        

    >div{
            @include md{
            display: grid;  
            grid-template-columns: 20% auto auto 20%;
            grid-template-areas: 
            "m1 m1 m2 m2" 
            "m3 m3 m4 m4"
            ". m5 m5 .";
            gap: 10px;  

            @include lg{
                display: grid;
                gap: 10px;
                grid-template-columns: 30% 30% 30%;
                grid-template-areas: 
                "m1 m2 m3"
                "m4 m5";
            }
        }
    

            @include xl{
                display: grid;
                gap: 10px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                ". m1 m2 m3 ."
                ". m4 m5 .";
            }
    
            
        

        
           
        }
    }


  








