/* =============
    Main
============= */

#main {


    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: main;
        @include md {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                ". m1 m2 ."
                ". m3 m4 ."
                ". m5 m5 .";
        }

        @include lg {
            grid-template-columns:repeat(6, 1fr);;
            grid-template-areas:
                "m1 m1 m2 m2 m3 m3"
                ". m4 m4 m5 m5 .";
        }

        #m1 {
            background-color: $seabeige;
            @include md {
                grid-area: m1;

            }
            }

            #m2 {
                background-color: $seabeige;
                @include md {
                    grid-area: m2;
                }
            }

            #m3 {
                background-color: $seabeige;
                @include md {
                    grid-area: m3;
                }
            }

            #m4 {
                background-color: $seabeige;
                @include md {
                    grid-area: m4;
                }
            }

            #m5 {
                background-color: $seabeige;
                @include md {
                    grid-area: m5;
                }
            }
        }
    }