/* =============
    Main
============= */

#main {


    display: grid;
    gap: 10px;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". main .";

    @include xl{
        // grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: main;
        @include md {
            display: grid;
            gap: 10px;
            grid-template-columns: 15px auto auto 15px;
            grid-template-areas:
                ". m1 m2 ."
                ". m3 m4 ."
                ". m5 m5 .";
        }

        @include lg {
            grid-template-columns:repeat(6, 1fr);;
            grid-template-areas:
                "m1 m1 m2 m2 m3 m3"
                ". m4 m4 m5 m5 .";
        }

        #m1 {
            background-color: $seabeige;
            @include md {
                grid-area: m1;

            }

            p{
                padding: 18px;
            }
          
        h2{
            padding-top: 15px;
            padding: 18px;
        }
            button{
                margin-bottom: 25px;
                margin-left: 18px;
            }
            }

            #m2 {
                background-color: $seabeige;
                @include md {
                    grid-area: m2;
                }

                p{
                    padding: 18px;
                }
              
            h2{
                padding-top: 15px;
                padding: 18px;
            }
                button{
                    margin-bottom: 25px;
                    margin-left: 18px;
                }
            }

            #m3 {
                background-color: $seabeige;
                @include md {
                    grid-area: m3;
                }

                p{
                    padding: 18px;
                }
              
            h2{
                padding-top: 15px;
                padding: 18px;
            }
                button{
                    margin-bottom: 25px;
                    margin-left: 18px;
                }
            }

            #m4 {
                background-color: $seabeige;
                @include md {
                    grid-area: m4;
                }

                p{
                    padding: 18px;
                }
              
            h2{
                padding-top: 15px;
                padding: 18px;
            }
                button{
                    margin-bottom: 25px;
                    margin-left: 18px;
                }
            }

            #m5 {
                background-color: $seabeige;

                @include md {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    grid-area: m5;
                    width: 50%;
          
                }

                @include lg{
                    width: 100%;
                }

                p{
                    padding: 18px;
                }
              
            h2{
                padding-top: 15px;
                padding: 18px;
            }
                button{
                    margin-bottom: 25px;
                    margin-left: 18px;
                }
            }
        }

        h2{
        font-family: 'Chivo', sans-serif;

        }
    }