/* =============
    Footer
============= */

#footer{
    
    padding-bottom: 30px;
    color: $seabeige; 
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". address ."
    ". copyright ."
    ". news ."
    ". social .";;

    // >div{
    //     grid-area: footer;
    // 

  

    // display: grid;
    grid-area: footer;

    @include md{
        // grid-area: footer;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "address news"
        "copyright social";
    }

    @include lg{
        grid-template-columns: 30% auto 30%;
        grid-template-areas: "address news social"
        "copyright . ."
    }

    @include xl{
        grid-template-columns: 30% auto 30%;

        // padding-left: 230px;
        // padding-right: 230px;
    }


 

    background-color: $darkteal;

    h3{
        font-family: 'Chivo', sans-serif;
        font-size: rem-calc(20);
        padding-bottom: 15px;
        padding-top: 20px;
    }

    #icons{
        display: flex;


    }


    article{
        font-size: rem-calc(12);
    }
    
}

#news{
    grid-area: news;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // height: 50px

    @include md{
        margin-right: 15px;
    }

    button{
    height: 50px;
    // padding: 10px;
     font-size: rem-calc(12);
     
    margin-left: auto;
    }

    input{
        font-size: rem-calc(14);
        height: 50px;
        padding-right: 100px;
        margin-bottom: 15px;
    }

    @include xl{
        padding-right: 25px;
    }
}

#copyright{
    grid-area: copyright;

@include md{
    padding-right: 200px;
    padding-left: 45px;
}

}

#address{
grid-area: address;



@include md{
    padding-right: 200px;
    padding-bottom: 35px;
    padding-left: 45px;
}
}

#social{
    grid-area: social;

    h3{
        padding:5px;
        padding-top: 20px;
    }

    @include xl{
        margin-left: 145px;
        padding-right: 0px;
        padding-left: 25px;
    }

    @include lg{
        margin-left: 145px;
        padding-right: 0px;
        padding-left: 15px;
    }
}


