/* =============
    Header
============= */
#header{

#logo{display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "logo .";
    background-color: $darkteal;
}

#search{
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: ". search .";

    @include lg{
        grid-template-columns: auto 80% auto; 
    }

    @include md{
        grid-template-columns: auto 75% auto; 
    }

    @include xl{
        grid-template-columns: auto 85% auto; 
    }

    >div{
        grid-area:search;
    }

}
    grid-area: header;



}


#logo{
    grid-area:logo;

}

#search{
    grid-area:search;
}

#word{
    grid-area: word;
}


button{
    background-color: $seafoam;
}
