/* =============
    Header
============= */
#header{

#logo{display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "logo .";
    background-color: $darkteal;
}

#search{
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas: "word . icon";
}



    grid-area: header;

}

#logo{
    grid-area:logo;

}

#search{
    grid-area:search;
}

#word{
    grid-area: word;
}

#icon{
grid-area: icon;
background-color: $greenteal;
}