/* =============
    Header
============= */
// #header{
//     grid-area: header;


// }

header{
    position: fixed;
    width: 100%;
}
#logo{
    // margin-bottom: 25px;
    // position: fixed;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 100px auto 100px;
    // grid-template-areas: "logo . Navigation";
    background-color: $darkteal;


 #dropdown{
     color: $seabeige;
     font-size: rem-calc(70);
     cursor: pointer;
     align-items: center;
     padding-right: 30px;

     @include lg{
         padding-right: 30px;
         font-size: rem-calc(40);
     }
 }

 
}




#logo{
    // grid-area:logo;
    padding: 10px;
    padding-left: 15px;
    // margin-bottom: 15px;

    @include lg{
        // margin-bottom: 0px;
    }


    @include xl{
        // margin-bottom: 25px;
    }
}






// #Navigation{
// grid-area: Navigation;

//     }


   


