/* =============
    Navigation
============= */


    #nav-container{
        display: none;
        // position: fixed;
        // width: 100%;
    
        padding-top: 15px;
        background-color: $seabeige;
    
         ul{
            
             li{
                border-bottom: $darkteal 1px solid;
                display: flex;
                justify-content: flex-end;

                 a:link, a:visited{
                    font-family: 'Chivo', sans-serif;
                     color: $darkteal;
                     text-decoration: none;
                     border-bottom: $darkteal 1px solid;
                    
                     font-size: rem-calc(30);

                     @include lg{
                         font-size: rem-calc(25);
                         padding-right: 30px;
                         padding-left: 0px;
                     }
              
                 }
                 
                 a:hover, a:active{
                    font-family: 'Chivo', sans-serif;
                    border-bottom: $darkteal 1px solid;
                     color: $seafoam;
                     text-decoration: none;

                     font-size: rem-calc(30);

                     @include lg{
                        font-size: rem-calc(25);
                        padding-right: 30px;
                        padding-left: 0px;
                    }
                   
                 }

                 border: none;
                 text-decoration: none;
             }
             }
     }
    
